@{
  Layout = "_Layout";
}

<h1>Add New Books</h1>

<form action="/books/new" method="post">
   <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" name="title" id="title" >
  </div>
  <div class="form-group">
    <label for="qty">Quantity</label>
    <input type="number" class="form-control" name="qty" id="qty" >
  </div>
    <h3>Add Authors for this book:</h3>
    <div class="form-group">
      <label for="authors">Choose an existing Author or Authors:</label>
        <select multiple class="form-control" name="authors">
            @foreach(var author in Model)
            {
            <option value="@author.id">@author.name</option>
            }
        </select>
     </div>
     <div class="form-group">
        <label for="authorFields">Add new Authors:</label>        
        <div id="fields"><input class="form-control" type="text" name="authorFields" /><br/></div>
        <br/>
        <button type="button" class="btn btn-danger" id="btnAddField">Add another new author</button>  
     </div>  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

