@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Add New Books</h1>

<form action="/books/new" method="post">
   <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" name="title" id="title" >
  </div>
  <div class="form-group">
    <label for="qty">Quantity</label>
    <input type="number" class="form-control" name="qty" id="qty" >
  </div>
    <div class="form-group">
      <label for="authors">Choose an existing Author or Authors:</label>

        <select multiple class="form-control" name="authors" required>
            <option value="0">----</option>
            @foreach(var author in Model)
            {
            <option value="@author.id">@author.name</option>
            }
        </select>
        
     </div>  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

