@{
  Layout = "_Layout";
}
<div class="row">
    <div class="col-md-6">
        <h1>Patron Login</h1>
        <form action="" method="post" id="patronLogin" name="patronLogin">
            <select name="patron">
                <option value="" disabled selected>Select your name</option>
                @foreach(var patron in Model)
                {
                <option value="@patron.id">@patron.name</option>
                }

            </select>   
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h1>Librarian Login</h1>
        <form action="" method="post" id="patronLogin" name="patronLogin">
            <select name="patron">
                <option value="" disabled selected>Select your name</option>
                @foreach(var patron in Model)
                {
                <option value="@patron.id">@patron.name</option>
                }

            </select>   
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
    </div>
</div>